fastapi==0.111.0
uvicorn[standard]==0.30.1
websockets==12.0
python-multipart==0.0.9
pydantic==2.7.1
pydantic-settings==2.2.1

# DB
sqlalchemy==2.0.30
asyncpg==0.29.0
psycopg2-binary==2.9.9
alembic==1.13.1

# Face recognition
insightface==0.7.3
onnxruntime==1.18.0
opencv-python-headless==4.10.0.84
numpy==1.26.4
Pillow>=10,<12
pillow-heif>=0.18,<2
pillow-avif-plugin>=1.4,<2
CairoSVG>=2.7,<3

# Vector search
faiss-cpu==1.8.0

python-dotenv==1.0.1
